{% extends "layout.html" %}
  {% block body %}
  {% if errors%}
  <div class="alert alert-danger" role="alert">
    {{ errors }}
  </div>
  {% endif %}
  <div class="row content">
    <div class="col-md-6 col-sm-4 col-12">
      <img class="video_preview" src="{{ url_for('video_feed') }}">
    </div>
    <div class="col-md-6 col-sm-8 col-12">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#info">Info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#camaras">Cámaras</a>
        </li>
      </ul>
      
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane container active" id="info">
          <p>Puedes acceder a la cámara desde las siguientes direcciones:
            <ol>
              <li>Local: {{ base_url }}video_feed</li>
              <li>Remoto: http://peiroscenic.ddns:8000/video_feed</li>
            </ol>
          </p>
        </div>
        <div class="tab-pane container fade" id="camaras">
          <form action="/">
            <select name="camera">
              {% for c in cameras %}
              <option value="{{ c }}">Cámara {{ c + 1 }}</option>
              {% endfor %}
            </select>
            <button class="btn btn-primary">Ver Cámara</button>
          </form>
        </div>
        
      </div>
    </div>
  </div>

    
  {% endblock %}