<!doctype html>
<html lang="es">
  <head>
    <title>PeiroStream</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/all.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/video-js.css') }}">
    <!-- Estilos de la aplicación-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- Librerias JS-->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </head>
  <body>
    <div class="container-fluid">
    {% block header %}
      <div class="row header">
        <div class="col-md-3 col-sm-3 col-12 logo">
          <img src="{{ url_for('static', filename='img/logo_peiroscenic_blanco.png')}}"/>
        </div>
        <div class="col-md-9 col-sm-9 col-12 menu">
          <a href="/"><i class="fas fa-desktop"></i></a>
          <a href="/youtube"><i class="fab fa-youtube"></i></a>
          <a href="/settings"><i class="fas fa-cogs"></i></a>
          <!--Elementos a la derecha del menu-->
          <a href="#" class="shutdown"><i class="fas fa-power-off"></i></a>
          {% if status == 'live' %}
            <a href="#" id="stopStreaming">
              <span>Estado: <b style="color:green; margin-right: 5px;">{{ status }}</b></span><i class="fas fa-stop-circle"></i>
            </a>
          {% else %}
            <a href="#" id="startStreaming">
              <span>Estado: <b style="color:red">{{ status }}</b></span><i class="fas fa-play-circle"></i>
            </a>
          {% endif %}
          
        </div>
      </div>
    {% endblock %}
    {% block body %}
    {% endblock %}
    </div>
  </body>
</html>